

.main-container {
 text-align: center;
 color: #6f2121;
} 

.main-container1 {
  font-size: 1em;
  color: #6f2121;
  margin: 1em;
  text-align: center;
  padding: 1em;

}
.list-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin: 1rem;

}

.list {

  font-size: 1rem;
  text-align: center;
  margin-left: 1em;
  padding: 0em;
  line-height: 2em;
  list-style: none;

  padding: 1em;

}
li {
  text-decoration: none;
  background-color: rgb(246, 247, 249);
  margin-top: 1em;
  padding: 1em;
  border-radius: 0.5em;
}

li > a {
  text-decoration: none;
  color: #6f2121;
  font-size: 1rem;
}

@media (max-width: 602px) {
  .list-container {
    
    flex-direction: column;

  
  
  }
}