.no-page-break {
    page-break-inside: avoid;
    
}

.addressContainer {
    background-color: rgb(244, 245, 255);
    margin: 2rem 0 !important;
}
.table th {
    
    font-size: .9rem;
  
}
.table th,
.table td {
    background-color: rgb(244, 245, 255) !important;
    padding: .6rem !important;
}

.anlageContainer { 
    background-color: rgb(217, 219, 238);
}

.abmessungBackground{
    background-color: rgb(198, 200, 216);
    padding: 1rem !important;
    border: solid, white 1px;
    margin-top: .7rem;
}
.disabled {
    background-color: rgb(114, 124, 133) !important;
    visibility: hidden;
}
.abmessungButton {
    margin-top: .6rem;
}